---
// https://developers.convertkit.com/#subscribers
---

<script is:inline src="https://rust-quest.ck.page/commerce.js" async defer></script>
<a class="convertkit-button" href="https://rust-quest.ck.page/products/rust-quest" data-commerce>Buy me a coffee</a>

<script is:inline src="https://rust-quest.ck.page/commerce.js" async defer></script>
<a class="convertkit-button" href="https://rust-quest.ck.page/products/rust-quest-subscription" data-commerce>Buy my product</a>