---
---

<article>
  <h4>Join the Adventure!</h4>
  Love Rust Quest? <br>
  Your donation can help me keep writing and bring more chapters to life.
  <a href="https://ko-fi.com/lyonsyonii" target="_blank">
    <button>Donate</button>
  </a>
</article>

<style>
  button {
    gap: 0.5em;
    border: 1px;
    border-radius: 999px;
    padding: 0.5rem 1.125rem;
    line-height: 1.1875;
    text-decoration: none;
    font-size: var(--sl-text);
    font-weight: 600;
    
    background: var(--sl-color-text-accent);
    color: var(--sl-color-black);

    cursor: pointer;
    width: 100%;
  }

  article {
    --sl-card-border: var(--sl-color-gray-5);
    display: flex;
    flex-direction: column;
    padding: var(--card-padding);
    gap: var(--card-padding);
    
    background-color: var(--sl-color-black);
    border: 1px solid var(--sl-color-gray-5);
    
    position: relative;
  }
</style>