---
// https://developers.convertkit.com/#subscribers
---

<script is:inline src="https://rust-quest.ck.page/commerce.js" async defer></script>

<div>
  <a class="convertkit-button" href="https://rust-quest.ck.page/products/rust-quest" data-commerce>Buy me a coffee</a>
  <a class="convertkit-button" href="https://rust-quest.ck.page/products/rust-quest-subscription" data-commerce>Buy my product</a>
</div>

<style>
  div {
    display: grid;
    width: 30%;
    position: fixed;
    
    bottom: 0%;
    left: 0%;

    margin: 0 !important;
  }
</style>