---
import { bgToDark } from "src/utils/colors";

type Props = {
  bg: string;
  bgDark?: string;
};

const { bg, bgDark = bgToDark(bg) } = Astro.props;
---

<span class="highlight">
  <slot />
</span>

<style define:vars={{ bg, bgDark }} is:global>
  :root .highlight > *, :root .highlight {
    background-color: var(--bg);
    border: 1px;
    border-radius: .25em;
  }
  :root[data-theme="dark"] .highlight > *, :root[data-theme="dark"] .highlight {
    background-color: var(--bgDark);
  }
</style>