---
import { Image } from "astro:assets";

interface Props {
  src: ImageMetadata;
}
const { src } = Astro.props;
---

<article class="card" id="article" >
  <Image src={src} alt="portrait" class="portrait" />
  <div id="text">
    <slot />
  </div>
</article>

<style>
  :root {
    --portrait-size: 80px;
  }
  article {
    display: grid;
    grid-template-columns: auto;
    margin-top: 1.5rem;
    background-color: var(--sl-color-portrait-bg);
    border: 1px;
    border-radius: .25em;
  }
  .portrait {
    width: var(--portrait-size);
  }
  #text {
    color: var(--sl-color-gray-1);
    padding: 0.75rem;
    margin-top: 0;
    align-self: center;
  }
  @media only screen and (min-width: 1152px) {
    article {
      grid-template-columns: var(--portrait-size) auto;
      margin-left: calc(-1 * var(--portrait-size));
    }
    .portrait {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }
    #text {
      padding: 1rem;
      padding-left: 0.25rem;
    }
  }
</style>