---
import { Image } from "astro:assets";

interface Props {
  src: ImageMetadata;
}
const { src } = Astro.props;
---


<article class="card">
  <Image src={src} alt="portrait" class="portrait" />
  <div id="text">
    <slot />
  </div>
</article>

<style>
  :root {
    --portrait-size: 80px;
    --border-radius: .4em;
  }
  article {
    display: grid;
    grid-template-columns: auto;
  }
  .portrait {
    width: var(--portrait-size);
    background-color: var(--sl-color-portrait-bg);
    border-radius: var(--border-radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  #text {
    color: var(--sl-color-gray-1);
    background: var(--sl-color-portrait-bg);
    border-radius: var(--border-radius);
    border-top-left-radius: 0;
    padding: 1rem;
    margin-top: 0;
  }

  @media only screen and (min-width: 1152px) {
    article {
      grid-template-columns: auto auto;
      margin-left: calc(-1 * var(--portrait-size));
    }
    .portrait {
      margin-top: 1.5rem;
      border-top-right-radius: 0;
      border-bottom-left-radius: var(--border-radius);
    }
    #text {
      margin-top: 1.5rem;
    }
  }
</style>

