---
export type Props = {
  question: string | undefined;
  background?: string;
  rounded?: boolean;
  border?: boolean;
};

const {
  question,
  background = "var(--sl-color-black)",
  border = true,
  rounded = false,
} = Astro.props;

const borderStyle = border ? "1px solid var(--sl-color-gray-5)" : "none";
const borderRadius = rounded ? "var(--border-radius)" : "none";
---

<article>
  {question && <p>{question}</p>}
  <slot />
</article>

<style define:vars={{ background, borderStyle, borderRadius }}>
  article {
    --sl-card-border: var(--sl-color-gray-5);
    display: flex;
    flex-direction: column;
    padding: var(--card-padding);
    gap: var(--card-padding);

    background-color: var(--background);
    border: var(--borderStyle);
    border-radius: var(--borderRadius);
  }
</style>
