---
interface Props {
  question: string;
}

const { question } = Astro.props;
---

<article>
  {question && <p id={question}>{question}</p>}
  <slot />
</article>

<style>
  article {
    --sl-card-border: var(--sl-color-purple);
    --sl-card-bg: var(--sl-color-purple-low);
    display: flex;
    border: 1px solid var(--sl-color-gray-5);
    background-color: var(--sl-color-black);
    flex-direction: column;
    padding: var(--card-padding);
    gap: var(--card-padding);;
    overflow: auto;
  }
</style>
