/* Dark mode colors. */
:root {
  --sl-color-accent-low: #460b05;
  --sl-color-accent: #c60e00;
  --sl-color-accent-high: #f57b00;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #f3ecea;
  --sl-color-gray-2: #c8c0be;
  --sl-color-gray-3: #978784;
  --sl-color-gray-4: #635451;
  --sl-color-gray-5: #423432;
  --sl-color-gray-6: #302321;
  --sl-color-black: #1d1715;
  
  --color-paper: #302321;
  --card-padding: 0.5rem;
  --border-radius: 0.25rem;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #ffc8be;
  --sl-color-accent: #c74500;
  --sl-color-accent-high: #640300;
  --sl-color-white: #1d1715;
  --sl-color-gray-1: #302321;
  --sl-color-gray-2: #423432;
  --sl-color-gray-3: #635451;
  --sl-color-gray-4: #978784;
  --sl-color-gray-5: #c8c0be;
  --sl-color-gray-6: #f3ecea;
  --sl-color-gray-7: #f9f5f5;
  --sl-color-black: #ffffff;

  --color-paper: #fcfaf6;
}

@media only screen and (min-width: 768px) {
  :root {
    --card-padding: 1rem;
  }
}
