@layer starlight, overrides;

@layer overrides {
  /* Light mode colors. */
  :root[data-theme="light"] {
    --sl-color-accent-low: #ffc8be;
    --sl-color-accent: #f45d22;
    --sl-color-accent-high: #640300;
    --sl-color-white: #1d1715;
    --sl-color-gray-1: #302321;
    --sl-color-gray-2: #423432;
    --sl-color-gray-3: #635451;
    --sl-color-gray-4: #978784;
    --sl-color-gray-5: #c8c0be;
    --sl-color-gray-6: #f3ecea;
    --sl-color-gray-7: #f9f5f5;
    --sl-color-black: #ffffff;
    --sl-color-text: #423432;

    --color-paper: #fff7e8;
  }

  /* Dark mode colors. */
  :root {
    --sl-color-accent-low: #460b05;
    --sl-color-accent: #c60e00;
    --sl-color-accent-high: #f57b00;
    --sl-color-white: #ffffff;
    --sl-color-gray-1: #f3ecea;
    --sl-color-gray-2: #cfc6c4;
    --sl-color-gray-3: #b0a09d;
    --sl-color-gray-4: #635451;
    --sl-color-gray-5: #423432;
    --sl-color-gray-6: #302321;
    --sl-color-black: #1d1715;
    --sl-color-text: #ebe3e2;

    --color-paper: #302321;
    --card-padding: 0.5rem;
    --border-radius: 0.25rem;
  }

  :root[data-theme="dark"] div.swal2-toast {
    background-color: var(--sl-color-gray-6);
    color: var(--sl-color-white);
  }

  @media screen and (prefers-contrast: more) {
    /* Light mode colors. */
    :root[data-theme="light"] {
      --sl-color-accent: #d93a00;
    }
  }

  @media only screen and (min-width: 768px) {
    :root {
      --card-padding: 1rem;
    }
  }
}
