---
import { translation } from "@i18n/_CodeBlock";
import type { Langs } from "@i18n/_langs";

/** CodeBlock */
export type Props = {
  /** Checkpoint that will be activated when "SUCCESS" is returned. */
  id?: string;
  code?: string;
  setup?: string;
  placeholder?: string;
  errorMsg?: string;
  showLineNumbers?: boolean;
  editable?: boolean;
  showOutput?: boolean;
};

const l = translation(Astro.url.pathname.split("/")[1] as Langs);

Astro.props.code = Astro.props.code?.trim().replaceAll("$\\n", "") || "";

const {
  id = "",
  placeholder = l.placeholder,
  code = "",
  errorMsg = l.error,
  showLineNumbers = true,
  editable = true,
  showOutput,
} = Astro.props;

const props = {
  id,
  placeholder,
  code,
  errorMsg,
  showLineNumbers: showLineNumbers.toString(),
  editable: editable.toString(),
  showOutput,
};
---

<x-code-block class="not-content" {...props}>
  <pre>{code || placeholder}</pre>
  <div class="buttons">
    <button class="run" title="Run (Shift+Enter)">
      <!-- carbon:run -->
      <!-- prettier-ignore -->
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" ><path fill="currentColor" d="M21 16a6 6 0 1 1-6 6a6 6 0 0 1 6-6m0-2a8 8 0 1 0 8 8a8 8 0 0 0-8-8" /><path fill="currentColor" d="M26 4H6a2 2 0 0 0-2 2v20a2 2 0 0 0 2 2h4v-2H6V12h22V6a2 2 0 0 0-2-2M6 10V6h20v4Z" /><path fill="currentColor" d="M19 19v6l5-3z" /></svg>
    </button>

    <button class="reset" title="Reset code">
      <!-- carbon:reset -->
      <!-- prettier-ignore -->
      <svg xmlns=svgtp://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" ><path fill="currentColor" d="M18 28A12 12 0 1 0 6 16v6.2l-3.6-3.6L1 20l6 6l6-6l-1.4-1.4L8 22.2V16a10 10 0 1 1 10 10Z" /></svg>
    </button>
  </div>
  <output />
  {
    import.meta.env.DEV && (
      <button class="DEV-RESET">
        <b>RESET</b>
      </button>
    )
  }
</x-code-block>

<style>
  x-code-block {
    display: grid;
    margin: 0 !important;
    font-size: 1rem;
    grid-template-columns: minmax(0px, 1fr) 60px;
  }

  @media only screen and (min-width: 1020px) {
    x-code-block {
      font-size: 1rem;
      grid-template-columns: 90% auto;
    }
  }
  pre {
    color: gray;
    line-height: 1.4;
    margin-bottom: 8px; /* 75.2px */
  }
  .buttons {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-left: var(--card-padding);
  }
  button {
    background-color: rgba(0, 0, 0, 0);
    color: var(--sl-color-white);
    cursor: pointer;
    border: 0;
    margin: 0;
    padding: 0;
    height: fit-content;
    transition: opacity 0.25s ease;
  }
  button:disabled {
    opacity: 0.2;
  }
  output {
    font-size: 1rem;
    font-family: monospace;
    border-width: 1px;
    border-style: solid;
    border-color: color-mix(in srgb, var(--sl-color-white), transparent 90%);
    border-radius: 6px;
    padding: 1rem;
    grid-column: span 3;
    margin-top: 1rem;
    white-space: pre-line;

    display: none;
  }
</style>

<script>
  import { CodeBlock } from "./CodeBlock";
  customElements.define("x-code-block", CodeBlock);
</script>
