---
import { Image } from "astro:assets";
import { portrait, type Portrait } from "./portraits";

interface Props {
  src: Portrait;
}
const { src } = Astro.props;

const { img, bg, bgDark } = portrait(src);
const portraitSize = 80;
---

<article id="article">
  <div id="portrait-wrapper">
    <Image src={img} alt="portrait" class="portrait" width={portraitSize} />
  </div>
  <div id="text">
    <slot />
  </div>
</article>

<style define:vars={{ bg, bgDark, portraitSize: `${portraitSize}px` }}>
  :root article {
    background-color: var(--bg);
  }
  :root[data-theme="dark"] article {
    background-color: var(--bgDark);
  }
  article {
    display: grid;
    grid-template-columns: auto;

    margin-top: 0rem;
    border: 1px;
    border-radius: 0.25em;
  }
  #text {
    color: var(--sl-color-gray-1);
    padding: 0.75rem;
    margin-top: 0;
    align-self: center;
  }
  @media only screen and (min-width: 1152px) {
    article {
      grid-template-columns: var(--portraitSize) auto;
      margin-left: calc(-1 * var(--portraitSize));
    }
    #portrait-wrapper {
      display: grid;
      container-type: size;
      min-height: calc(
        80px + 0.5rem
      ); /* 80px (image) + margins (0.25rem each) */
    }
    .portrait {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }
    @container (height < 120px) {
      .portrait {
        align-self: center;
      }
    }
    #text {
      padding: 1rem;
      padding-left: 0.25rem;
    }
  }
</style>
