---
export type Props = {
  id: string;
};
const { id } = Astro.props;
---

<x-feedback>
<dialog>
  <button>Close</button>
  <iframe loading="lazy" src=`https://docs.google.com/forms/d/e/1FAIpQLSc1W_N2meVxOIxBdcSuaMSSQfZHPH1oVG0KSenueKpVfxxqZQ/viewform?usp=pp_url&entry.1422100212=${id}&embedded=true`>Loading…</iframe>
</dialog>
</x-feedback>

<style>
  dialog {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.225% !important;

    width: 97.5%;
    height: 95%;
    
    border: none;
    border-radius: var(--border-radius);
    
    background-color: white;
  }

  iframe {
    width: 100%;
    height: 100% !important;
    border: none;
    margin: 0 !important;
  }

  button {
    position: absolute;
    right: var(--card-padding);
    
    background-color: var(--sl-color-accent-low);
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;

    border: 1px;
    border-radius: 0.25em;

    transition: opacity 0.2s;
  }
  button:hover {
    opacity: 0.8;
  }
</style>

<script>
  import { FeedbackElement } from "./Feedback";

  customElements.define("x-feedback", FeedbackElement)
</script>