---
export type Props = {
  id: string;
};
const { id } = Astro.props;
---

<!-- https://codepen.io/vsync/pen/AmwKXE -->
<x-feedback>
<dialog>
  <form class="not-content" id={id} action="" method="dialog">
    <label for="score-wrapper">How would you rate this chapter?</label>
    <div id="score-wrapper">
      <label for="score">😰</label>
      <input id="score" type="range" min="1" max="5" value="3" />
      <label for="score">🤩</label>
    </div>
    <label for="review">Do you have some feedback?</label>
    <textarea
      id="review"
      name="review"
      autocapitalize="on"
      autocorrect="off"
      autofocus></textarea>
    <div id="buttons">
      <button id="cancel">Cancel</button>
      <button id="submit">Submit</button>
    </div>
  </form>
</dialog>
</x-feedback>

<style>
  dialog {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15% !important;

    width: 50%;
    height: 50%;
  }

  form {
    --sl-card-border: var(--sl-color-purple);
    --sl-card-bg: var(--sl-color-purple-low);
    display: flex;
    border: 1px solid var(--sl-color-gray-5);
    background-color: var(--sl-color-black);
    flex-direction: column;
    align-items: center;
    padding: var(--card-padding);
    gap: var(--card-padding);

    height: 100%;
  }
  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  div > input {
    width: 80%;
  }
  div > label {
    font-size: 1.5rem;
  }
  label[for="review"] {
    text-align: center;
    margin-top: 0.25rem;
  }
  textarea {
    resize: none;
    width: 100%;
    height: 100%;
  }
  #buttons {
    display: flex;
    gap: 1rem;
  }
  button {
    background-color: var(--sl-color-accent-low);
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;

    border: 1px;
    border-radius: 0.25em;

    transition: opacity 0.2s;
  }
  button:hover {
    opacity: 0.8;
  }
  #cancel {
    background-color: var(--sl-color-primary);
  }
</style>

<script>
  import { FeedbackElement } from "./Feedback";

  customElements.define("x-feedback", FeedbackElement)
</script>